# Connect to MySql Server

In [75]:
import mysql.connector
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import random
from datetime import datetime
import numpy as np
from numpy import random

In [76]:
# Created a docker container of mysql: https://hub.docker.com/_/mysql
# sudo docker run --name mysql -p 3306:3306 -e MYSQL_ROOT_PASSWORD=my-secret-pw -d mysql
# Check to see if conatiner is running: sudo docker container list
# If issues: sudo service mysql stop
# sudo docker stop mysql -> sudo docker rm mysql

connection = mysql.connector.connect(host='localhost', user='root', password='iampw')
cursor = connection.cursor()

In [77]:
# Testing pymysql
connection = pymysql.connect(host='localhost', user='root', password='iampw')
cursor = connection.cursor()

In [78]:
db_Info = connection.get_server_info()
print("Connected to MySQL Server version ", db_Info)

Connected to MySQL Server version  8.0.31-0ubuntu0.22.04.1

In [79]:
# Run if needed
cursor.execute('DROP DATABASE hospital;')

13

In [80]:
cursor.execute('''CREATE DATABASE IF NOT EXISTS hospital;''')
cursor.execute('USE hospital;')
cursor.execute('SELECT DATABASE();')
status = cursor.fetchall()
for x in status:
  print(x)

('hospital',)

# Create Tables

In [81]:
cursor.execute('''CREATE TABLE IF NOT EXISTS clinician (
                    clinician_id int,
                    clinician_type char(50) NOT NULL,
                    PRIMARY KEY (clinician_id)
                );''')

0

In [82]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescriber (
                    clinician_id int,
                    PRIMARY KEY (clinician_id)
                );''')

0

In [83]:
cursor.execute('''CREATE TABLE IF NOT EXISTS patient (
                    patient_id int AUTO_INCREMENT,
                    firstname char(50),
                    lastname char(50),
                    dob date,
                    PRIMARY KEY (patient_id)
                )''')

0

In [84]:
cursor.execute('''CREATE TABLE IF NOT EXISTS med_rec (
                    medicine_name char(50),
                    recommendation text,
                    PRIMARY KEY (medicine_name)
                );''')

0

In [85]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescription (
                    prescription_id int,
                    medicine_name char(50),
                    med_interval int NOT NULL,
                    start_date DATETIME NOT NULL DEFAULT NOW(),
                    end_date DATETIME NOT NULL DEFAULT NOW(),
                    is_deleted bool NOT NULL,
                    special_notes char(50),
                    PRIMARY KEY (prescription_id),               
                    FOREIGN KEY (medicine_name) REFERENCES med_rec (medicine_name)
                );''')

0

In [86]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescribed (
                    clinician_id int,
                    prescription_id int,
                    patient_id int,
                    PRIMARY KEY (prescription_id, patient_id),
                    FOREIGN KEY (clinician_id) REFERENCES prescriber (clinician_id)
                                ON DELETE CASCADE,
                    FOREIGN KEY (patient_id) REFERENCES patient (patient_id)
                                ON DELETE CASCADE,
                    FOREIGN KEY (prescription_id) REFERENCES prescription (prescription_id) 
                                ON DELETE CASCADE
                        
                );''')

0

In [87]:
cursor.execute('''CREATE TABLE IF NOT EXISTS nurse (
                    clinician_id int,
                    position char(50) NOT NULL,
                    firstname char(50) NOT NULL,
                    lastname char(50) NOT NULL,
                    startshift time NOT NULL,
                    endshift time NOT NULL,
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES clinician (clinician_id),
                    CONSTRAINT nurse_check CHECK (position IN ('cna','lrn','rn','aprn'))
                );''')

0

In [88]:
cursor.execute('''CREATE TABLE IF NOT EXISTS senior_nurse (
                    clinician_id int,
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE
                );''')

0

In [89]:
cursor.execute('''CREATE TABLE IF NOT EXISTS doctor(
                    clinician_id int,
                    firstname char(50),
                    lastname char(50),
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES clinician (clinician_id) 
                                ON DELETE CASCADE
                );''')

0

In [90]:
cursor.execute('''CREATE TABLE IF NOT EXISTS room (
                    room_id int,
                    room_type char(50) NOT NULL,
                    PRIMARY KEY (room_id),
                    CONSTRAINT room_check CHECK (room_type IN ('ccu','er','icu','micu','nicu','oncology','recovery','or','pacu','hospice','preop','rehab','sicu','floor','ticu'))
                );''')

0

In [91]:
cursor.execute('''CREATE TABLE IF NOT EXISTS completed(
                    completed_id int,
                    completed_by int,
                    completed_at datetime,    
                    completed_what int,
                    PRIMARY KEY (completed_id),
                    FOREIGN KEY (completed_by) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (completed_what) REFERENCES prescription (prescription_id) 
                                ON DELETE CASCADE
                );''')

0

In [92]:
cursor.execute('''CREATE TABLE IF NOT EXISTS responsible (
                    clinician_id int,
                    room_id int,
                    PRIMARY KEY (clinician_id, room_id),
                    FOREIGN KEY (clinician_id) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (room_id) REFERENCES room (room_id) 
                                ON DELETE CASCADE
                );''')

0

In [93]:
cursor.execute('''CREATE TABLE IF NOT EXISTS stays_in (
                    patient_id int,
                    room_id int,
                    admitted datetime,
                    discharged datetime,
                    PRIMARY KEY (patient_id, room_id),
                    FOREIGN KEY (patient_id) REFERENCES patient (patient_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (room_id) REFERENCES room (room_id) 
                                ON DELETE CASCADE
                );''')

0

In [94]:
cursor.execute('SHOW TABLES')
result = cursor.fetchall()

# loop through the rows
# for row in result:
#     print(row)

In [95]:
connection.commit()

# Populating Tables

In [96]:
# to_sql testing
# host='localhost', user='root', password='my-secret-pw'

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="iampw",
                               db="hospital"))

In [97]:
def insert(df, table):
    # creating column list for insertion
    cols = "`,`".join([str(i) for i in df.columns.tolist()])

    # Insert DataFrame records one by one.
    for i,row in df.iterrows():
        sql = "INSERT INTO " + table + " (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row))

        # the connection is not autocommitted by default, so we must commit to save our changes
        connection.commit()


def insertCheck(table):
    sql = 'SELECT * FROM ' + table
    cursor.execute(sql)

    # Fetch all the records
    result = cursor.fetchall()
    for i in result:
        print(i)

In [98]:
# https://www.randomlists.com/random-date?dup=true&qty=1000&date2=2022-01-01&date1=1930-01-01
# https://www.randomlists.com/random-names?qty=1000
# https://onlinerandomtools.com/generate-random-date
personalInfo = pd.read_csv('personal_info.csv', header=None)
personalInfo.rename(columns={0:'firstname',1:'lastname',2:'dob'},inplace=True)
# display(personalInfo)

In [99]:
# Creating People
totalInfo = 1000
d = 100
n = d * 3
p = d * 4
total = d + n + p
seed = 1

random.seed(seed)
random_index = random.permutation(range(total))

d_index = random_index[0:d]
n_index = random_index[d:d+n]
p_index = random_index[d+n:total]

d_info = personalInfo.loc[d_index]
n_info = personalInfo.loc[n_index]
p_info = personalInfo.loc[p_index]

d_info['clinician_id'] = d_info.index
n_info['clinician_id'] = n_info.index
d_info['clinician_type'] = 'doctor'
n_info['clinician_type'] = 'nurse'

### Clinician

In [100]:
# Clinicians
clinicians = pd.concat([d_info.loc[:,['clinician_id','clinician_type']],n_info.loc[:,['clinician_id','clinician_type']]], axis=0).sort_index()
# display(clinicians)

In [101]:
clinicians.to_sql('clinician', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Nurse

In [102]:
# Nurse
# rankings are: 'cna','lpn','rn','aprn'
# https://www.rasmussen.edu/degrees/nursing/blog/different-levels-of-nursing/
# 20% aprn; 40% rn; 30% lrn; 10% cna
aprn_index = n_index[0:int(n*0.2)]
rn_index = n_index[int(n*0.2):int(n*0.6)]
lrn_index = n_index[int(n*0.6):int(n*0.9)]
cna_index = n_index[int(n*0.9):n]

n_info['position'] = ''
n_info.loc[aprn_index,'position'] = 'aprn'
n_info.loc[rn_index,'position'] = 'rn'
n_info.loc[lrn_index,'position'] = 'lrn'
n_info.loc[cna_index,'position'] = 'cna'

n_info['startshift'] = '00:00:00'
n_info['endshift'] = '00:00:00'
for i in n_info.index:
    if(i%2 == 0):
        n_info.loc[i,'startshift'] = '07:00:00'
        n_info.loc[i,'endshift'] = '19:00:00'
    else:
        n_info.loc[i,'startshift'] = '19:00:00'
        n_info.loc[i,'endshift'] = '07:00:00'

nurses = n_info.loc[:,['clinician_id','position','firstname','lastname','startshift','endshift']]
# display(nurses)

nurses.to_sql('nurse', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Senior Nurse

In [103]:
# Senior nurse
# Just the aprn nurses
senior_nurse = nurses.loc[nurses['position'] == 'aprn', ['clinician_id']]
# display(senior_nurse)

senior_nurse.to_sql('senior_nurse', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Doctor

In [104]:
# Doctor
doctors = clinicians.loc[clinicians['clinician_type'] == 'doctor', ['clinician_id']]
# display(doctors)

doctors.to_sql('doctor', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Patient

In [105]:
# Patient
p_info['discharged'] = False

patients = p_info.reset_index(drop=True)
# patients.loc[0:99,'discharged'] = True
# display(patients)


from random import randrange
import time
from datetime import datetime
from datetime import timedelta


# start_date = datetime(2020, 1, 1)
# admitted = [0 for _ in range(len(patients))]
# discharged = [0 for _ in range(20)]
# init_discharged = 20
# p_chunks = 20

# for i in range(len(patients)-19):
#     admitted[i:i+p_chunks] = [start_date + timedelta(days=2)]*p_chunks
#     if i == 0:
#         rand_days = np.random.choice(100, init_discharged, "int")
#         discharged_dates = [0 for _ in range(init_discharged)]
        
#         for i, day in enumerate(rand_days):
#             discharged_dates[i] = start_date + timedelta(days=int(day))
#             print(discharged_dates[i])
#         discharged = discharged_dates
    
# discharged += [None] * (len(patients)-init_discharged)

2020-02-02 00:00:00
2020-02-13 00:00:00
2020-02-11 00:00:00
2020-03-10 00:00:00
2020-01-02 00:00:00
2020-04-07 00:00:00
2020-02-21 00:00:00
2020-01-31 00:00:00
2020-03-23 00:00:00
2020-02-19 00:00:00
2020-03-22 00:00:00
2020-03-23 00:00:00
2020-04-05 00:00:00
2020-03-12 00:00:00
2020-01-22 00:00:00
2020-01-19 00:00:00
2020-02-16 00:00:00
2020-02-14 00:00:00
2020-04-01 00:00:00
2020-01-10 00:00:00

In [106]:
patients['admitted'] = admitted
patients['discharged'] = discharged

In [107]:
patients.iloc[399]

firstname                 Marisol
lastname                  Sanchez
dob                    2011-06-20
discharged                    NaT
admitted      2020-01-03 00:00:00
Name: 399, dtype: object

In [108]:
patients.to_sql('patient', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Prescriber

In [109]:
# Prescriber
# Doctors and Senior Nurses
prescribers = pd.concat([doctors,senior_nurse])
# display(prescribers)
prescribers.to_sql('prescriber', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Room

In [110]:
# Room
# There are these types of room: 'ccu','er','icu','micu','nicu','oncology','recovery','or','pacu','hospice','preop','rehab','sicu','floor','ticu'
# Assuming there are 50 of each and 200 for floor
room_types = ['ccu','er','icu','micu','nicu','oncology','recovery','or','pacu','hospice','preop','rehab','sicu','floor','ticu']
rooms = pd.DataFrame(columns=['room_id','room_type'])
level = 1
counter = 0
random.seed(seed)
samp = random.permutation(range(10))
for r in room_types:
    if(counter == 5):
        level += 1
        counter = 1
        samp = random.permutation(range(10))
    amount = 50
    rNum = level * 1000 + samp[counter] * 100
    if(r == 'floor'):
        amount = 200
        section = pd.DataFrame({'room_id':list(range(rNum,rNum+amount,1)), 'room_type':[r]*amount})
    else:
        section = pd.DataFrame({'room_id':list(range(rNum,rNum+amount,1)), 'room_type':[r]*amount})
    rooms = pd.concat([rooms,section])
    counter += 1
# display(rooms)
rooms.to_sql('room', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Responsible

In [111]:
# Responsible
# Randomly assign nurses to one of the 15 sections and the rooms in that section
# Since there are more rooms in floor, giving more weight
room_amount = len(rooms)
fw = 200 / room_amount # Floor weight
ow = (room_amount - 200) / room_amount / 14 # Other room weight
assignment = np.random.choice(room_types, n, p=[ow,ow,ow,ow,ow,ow,ow,ow,ow,ow,ow,ow,ow,fw,ow])

resp = nurses.loc[:,['clinician_id']]
resp['room_type'] = assignment
responsible = resp.set_index('room_type').join(rooms.set_index('room_type'), on='room_type', how='outer')
responsible.reset_index(drop=True, inplace=True)
# display(responsible)
responsible.to_sql('responsible', con=engine, if_exists='append', index=False, chunksize=1000)
connection.commit()

### Stays in

In [112]:
# Stays in
# inpatients = patients[patients["discharged"] == False]
inpatients_id = [x for x in range(1, len(patients)+1)]
# inpatients_id = list(inpatients.index)
room_ids = random.choice(rooms["room_id"], len(inpatients_id), replace=False)

# create stays in pandas dataframe
stays_in = pd.DataFrame(columns=["patient_id", "room_id"])
stays_in["patient_id"] = inpatients_id
stays_in["room_id"] = room_ids

In [ ]:
start_date = datetime(2020, 1, 1)
admitted = [0 for _ in range(len(inpatients_id))]
init_discharged = 20
discharged = [0 for _ in range(init_discharged)]
p_chunks = 20

for i in range(len(patients)-19):
    admitted[i:i+p_chunks] = [start_date + timedelta(days=2)]*p_chunks
    if i == 0:
        rand_days = np.random.choice(50, init_discharged, "int")
        discharged_dates = [0 for _ in range(init_discharged)]
        
        for i, day in enumerate(rand_days):
            discharged_dates[i] = start_date + timedelta(days=int(day))
            print(discharged_dates[i])
        discharged = discharged_dates
    
discharged += [None] * (len(patients)-init_discharged)

stays_in["admitted"] = admitted
stays_in["discharged"] = discharged

In [113]:
stays_in.to_sql("stays_in", con=engine, if_exists="append", index=False, chunksize=1000)
connection.commit()

### Medicine Recommendation

In [114]:
med_rec = pd.read_csv("medicine.csv")
med_rec.rename(columns={"Medicine":"medicine_name", "Recommendation":"recommendation"},inplace=True)
med_rec.to_sql("med_rec", con=engine, if_exists="append", index=False, chunksize=1000)
connection.commit()

### Prescription

In [115]:
prescription = pd.read_csv('prescription.csv')
prescription = prescription.rename(columns={"special notes": "special_notes"})
# display(prescription)

prescription.to_sql("prescription", con=engine, if_exists="append", index=False, chunksize=1000)
connection.commit()

### Prescribed

In [116]:
# prescription_id = prescription["prescription_id"]
clinician_id = prescribers["clinician_id"]

rec = cursor.execute('''SELECT patient_id FROM patient;''')
patient_id = [rec[0] for rec in cursor.fetchall()]

In [117]:
prescribed = pd.DataFrame(columns=["clinician_id", 'prescription_id', "patient_id"])
prescription_id = prescription["prescription_id"]
prescribed["prescription_id"] = prescription_id

# allowed to have duplicate clinician_id and patient_id (1-n relationship) 
prescribed["clinician_id"] = random.choice(clinician_id, len(prescription_id))

# prescribed["patient_id"] = random.choice(patient_id, len(prescription_id))

In [118]:
# Make sure each (patient_id, prescription_id) is unique. 
# Each patient is not prescribed the same prescription multiple times 

check_duplicates = {}

for i in range(len(prescription)):
    num = random.choice(patient_id, 1)[0]
    curmed = prescribed.at[i, "prescription_id"]
    
    while num in check_duplicates and check_duplicates[num] == curmed:
        num = random.choice(patient_id, 1)[0]
    
    check_duplicates[num] = curmed
    prescribed.at[i, "patient_id"] = num

In [119]:
prescribed.to_sql("prescribed", con=engine, if_exists="append", index=False, chunksize=1000)
connection.commit()

In [120]:
cursor.close()
connection.close()