### Connect to MySql Server

In [2]:
import mysql.connector
from mysql.connector import Error
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import random
from datetime import datetime

In [2]:
# Created a docker container of mysql: https://hub.docker.com/_/mysql
# sudo docker run --name mysql -p 3306:3306 -e MYSQL_ROOT_PASSWORD=my-secret-pw -d mysql
# Check to see if conatiner is running: sudo docker container list

connection = mysql.connector.connect(host='localhost', user='root', password='my-secret-pw')
cursor = connection.cursor()

In [3]:
# Testing pymysql
connection = pymysql.connect(host='localhost', user='root', password='my-secret-pw')
cursor = connection.cursor()

In [4]:
db_Info = connection.get_server_info()
print("Connected to MySQL Server version ", db_Info)

Connected to MySQL Server version  8.0.31

In [5]:
# Run if needed
cursor.execute('DROP DATABASE hospital')

13

In [6]:
cursor.execute('''CREATE DATABASE IF NOT EXISTS hospital''')
cursor.execute('USE hospital')
cursor.execute('SELECT DATABASE()')
status = cursor.fetchall()
for x in status:
  print(x)

('hospital',)

### Create Tables

In [7]:
cursor.execute('''CREATE TABLE IF NOT EXISTS clinician (
                    clinician_id int,
                    clinician_type char(50) NOT NULL,
                    PRIMARY KEY (clinician_id)
                )''')

0

In [8]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescriber (
                    clinician_id int,
                    PRIMARY KEY (clinician_id)
                )''')

0

In [9]:
cursor.execute('''CREATE TABLE IF NOT EXISTS patient (
                    patient_id int AUTO_INCREMENT,
                    lastname char(50),
                    firstname char(50),
                    diagnosis char(200),
                    dob date,
                    discharged bool NOT NULL,
                    PRIMARY KEY (patient_id)
                )''')

0

In [10]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescribed (
                    clinician_id int,
                    prescription_id int,
                    patient_id int,
                    PRIMARY KEY (prescription_id, clinician_id, patient_id),
                    FOREIGN KEY (clinician_id) REFERENCES prescriber (clinician_id)
                                ON DELETE CASCADE,
                    FOREIGN KEY (patient_id) REFERENCES patient (patient_id)
                                ON DELETE CASCADE
                )''')

0

In [11]:
cursor.execute('''CREATE TABLE IF NOT EXISTS nurse (
                    clinician_id int,
                    position char(50) NOT NULL,
                    firstname char(50) NOT NULL,
                    lastname char(50) NOT NULL,
                    startshift time NOT NULL,
                    endshift time NOT NULL,
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES clinician (clinician_id),
                    CONSTRAINT nurse_check CHECK (position IN ('cna','lpn','rn','aprn'))
                )''')

0

In [12]:
cursor.execute('''CREATE TABLE IF NOT EXISTS senior_nurse (
                    clinician_id int,
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE
                )''')

0

In [13]:
cursor.execute('''CREATE TABLE IF NOT EXISTS doctor(
                    clinician_id int,
                    firstname char(50),
                    lastname char(50),
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES clinician (clinician_id) 
                                ON DELETE CASCADE
                )''')

0

In [14]:
cursor.execute('''CREATE TABLE IF NOT EXISTS room (
                    room_id int AUTO_INCREMENT,
                    room_type char(50) NOT NULL,
                    PRIMARY KEY (room_id),
                    CONSTRAINT room_check CHECK (room_type IN ('ccu','er','icu','micu','nicu','oncology','recovery','or','pacu','hospice','preop','rehab','sicu','floor','ticu'))
                )''')

0

In [15]:
cursor.execute('''CREATE TABLE IF NOT EXISTS med_rec (
                    medicine_name char(50),
                    recommendation char(50) NOT NULL,
                    PRIMARY KEY (medicine_name)
                )''')

0

In [16]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescription (
                    prescription_id int,
                    medicine_name char(50),
                    med_interval int NOT NULL,
                    start_date DATETIME NOT NULL DEFAULT NOW(),
                    end_date DATETIME NOT NULL DEFAULT NOW(),
                    is_deleted bool NOT NULL,
                    special_notes char(50),
                    PRIMARY KEY (prescription_id),               
                    FOREIGN KEY (medicine_name) REFERENCES med_rec (medicine_name)
                )''')

0

In [17]:
cursor.execute('''CREATE TABLE IF NOT EXISTS completed(
                    completed_id int,
                    completed_by int,
                    completed_at datetime,    
                    completed_what int,
                    PRIMARY KEY (completed_id),
                    FOREIGN KEY (completed_by) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (completed_what) REFERENCES prescription (prescription_id) 
                                ON DELETE CASCADE
                )''')

0

In [18]:
cursor.execute('''CREATE TABLE IF NOT EXISTS responsible (
                    clinician_id int,
                    room_id int,
                    PRIMARY KEY (clinician_id, room_id),
                    FOREIGN KEY (clinician_id) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (room_id) REFERENCES room (room_id) 
                                ON DELETE CASCADE
                )''')

0

In [19]:
cursor.execute('''CREATE TABLE IF NOT EXISTS stays_in (
                    patient_id int,
                    room_id int,
                    PRIMARY KEY (patient_id, room_id),
                    FOREIGN KEY (patient_id) REFERENCES patient (patient_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (room_id) REFERENCES room (room_id) 
                                ON DELETE CASCADE
                )''')

0

In [20]:
cursor.execute('SHOW TABLES')
result = cursor.fetchall()

# loop through the rows
for row in result:
    print(row)

('clinician',)
('completed',)
('doctor',)
('med_rec',)
('nurse',)
('patient',)
('prescribed',)
('prescriber',)
('prescription',)
('responsible',)
('room',)
('senior_nurse',)
('stays_in',)

### Populating Tables

In [21]:
# to_sql testing
# host='localhost', user='root', password='my-secret-pw'

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="my-secret-pw",
                               db="hospital"))

In [22]:
def insert(df, table):
    # creating column list for insertion
    cols = "`,`".join([str(i) for i in df.columns.tolist()])

    # Insert DataFrame records one by one.
    for i,row in df.iterrows():
        sql = "INSERT INTO " + table + " (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row))

        # the connection is not autocommitted by default, so we must commit to save our changes
        connection.commit()


def insertCheck(table):
    sql = 'SELECT * FROM ' + table
    cursor.execute(sql)

    # Fetch all the records
    result = cursor.fetchall()
    for i in result:
        print(i)

In [23]:
names = pd.read_csv('random_names.csv', header=None)
names.rename(columns={0:'firstname',1:'lastname'},inplace=True)
display(names)

      firstname   lastname
0         Brock     Golden
1         Chloe     Golden
2         Rayan      Estes
3        Fatima  Velasquez
4    Alessandro     Bender
..          ...        ...
995       Sarah     Grimes
996        Cole    Cabrera
997      Hassan     Gentry
998       Kasey      Glenn
999      Elaine      Huang

[1000 rows x 2 columns]

In [24]:
# Creating People
totalNames = 1000
d = 100
n = d * 3
p = d * 2
total = d + n + p
seed = 1

random.seed(seed)
random_index = random.sample(range(totalNames), total)

d_index = random_index[0:d]
n_index = random_index[d:d+n]
p_index = random_index[d+n:total]

d_name = names.loc[d_index]
n_name = names.loc[n_index]
p_name = names.loc[p_index]

d_name['clinician_id'] = d_name.index
n_name['clinician_id'] = n_name.index
d_name['clinician_type'] = 'doctor'
n_name['clinician_type'] = 'nurse'

In [25]:
# Clinicians
clinicians = pd.concat([d_name.loc[:,['clinician_id','clinician_type']],n_name.loc[:,['clinician_id','clinician_type']]], axis=0).sort_index()
display(clinicians)

     clinician_id clinician_type
1               1          nurse
2               2         doctor
5               5          nurse
8               8          nurse
9               9         doctor
..            ...            ...
990           990         doctor
991           991         doctor
993           993          nurse
995           995         doctor
996           996         doctor

[400 rows x 2 columns]

In [26]:
# iterrows insert
# insert(clinicians, 'clinician')
# insertCheck('clinician')

In [27]:
# to_sql testing
# host='localhost', user='root', password='my-secret-pw'
# from sqlalchemy import create_engine
# import pymysql

# engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
#                        .format(user="root",
#                                pw="my-secret-pw",
#                                db="hospital"))

clinicians.to_sql('clinician', con=engine, if_exists='append', index=False, chunksize=1000)

400

In [33]:
# Nurse
# rankings are: 'cna','lpn','rn','aprn'
# https://www.rasmussen.edu/degrees/nursing/blog/different-levels-of-nursing/
# 20% aprn; 40% rn; 30% lrn; 10% cna
aprn_index = n_index[0:int(n*0.2)]
rn_index = n_index[int(n*0.2):int(n*0.6)]
lrn_index = n_index[int(n*0.6):int(n*0.9)]
cna_index = n_index[int(n*0.9):n]

n_name['position'] = ''
n_name.loc[aprn_index,'position'] = 'aprn'
n_name.loc[rn_index,'position'] = 'rn'
n_name.loc[lrn_index,'position'] = 'lrn'
n_name.loc[cna_index,'position'] = 'cna'

n_name['startshift'] = '00:00:00'
n_name['endshift'] = '00:00:00'
for i in n_name.index:
    if(i%2 == 0):
        n_name.loc[i,'startshift'] = '07:00:00'
        n_name.loc[i,'endshift'] = '19:00:00'
    else:
        n_name.loc[i,'startshift'] = '19:00:00'
        n_name.loc[i,'endshift'] = '07:00:00'

nurses = n_name.loc[:,['clinician_id','position','firstname','lastname','startshift','endshift']]
display(nurses)

nurses.to_sql('nurse', con=engine, if_exists='append', index=False, chunksize=1000)

     clinician_id position  firstname lastname startshift  endshift
761           761     aprn    Micheal  Aguilar   19:00:00  07:00:00
816           816     aprn   Mercedes   Spears   07:00:00  19:00:00
413           413     aprn     Hunter    Pitts   19:00:00  07:00:00
424           424     aprn    Darnell    Russo   07:00:00  19:00:00
680           680     aprn     Adrien   Dodson   07:00:00  19:00:00
..            ...      ...        ...      ...        ...       ...
46             46      cna     Ismael    Baird   07:00:00  19:00:00
611           611      cna  Cornelius    Payne   19:00:00  07:00:00
858           858      cna       Kali     Hays   07:00:00  19:00:00
792           792      cna      Zaria   Hoover   07:00:00  19:00:00
801           801      cna     Miguel    Brock   19:00:00  07:00:00

[300 rows x 6 columns]

OperationalError: (pymysql.err.OperationalError) (3819, "Check constraint 'nurse_check' is violated.")
[SQL: INSERT INTO nurse (clinician_id, position, firstname, lastname, startshift, endshift) VALUES (%(clinician_id)s, %(position)s, %(firstname)s, %(lastname)s, %(startshift)s, %(endshift)s)]
[parameters: ({'clinician_id': 761, 'position': 'aprn', 'firstname': 'Micheal', 'lastname': 'Aguilar', 'startshift': '19:00:00', 'endshift': '07:00:00'}, {'clinician_id': 816, 'position': 'aprn', 'firstname': 'Mercedes', 'lastname': 'Spears', 'startshift': '07:00:00', 'endshift': '19:00:00'}, {'clinician_id': 413, 'position': 'aprn', 'firstname': 'Hunter', 'lastname': 'Pitts', 'startshift': '19:00:00', 'endshift': '07:00:00'}, {'clinician_id': 424, 'position': 'aprn', 'firstname': 'Darnell', 'lastname': 'Russo', 'startshift': '07:00:00', 'endshift': '19:00:00'}, {'clinician_id': 680, 'position': 'aprn', 'firstname': 'Adrien', 'lastname': 'Dodson', 'startshift': '07:00:00', 'endshift': '19:00:00'}, {'clinician_id': 177, 'position': 'aprn', 'firstname': 'Leanna', 'lastname': 'Montgomery', 'startshift': '19:00:00', 'endshift': '07:00:00'}, {'clinician_id': 375, 'position': 'aprn', 'firstname': 'Yareli', 'lastname': 'Herring', 'startshift': '19:00:00', 'endshift': '07:00:00'}, {'clinician_id': 561, 'position': 'aprn', 'firstname': 'Javon', 'lastname': 'Raymond', 'startshift': '19:00:00', 'endshift': '07:00:00'}  ... displaying 10 of 300 total bound parameter sets ...  {'clinician_id': 792, 'position': 'cna', 'firstname': 'Zaria', 'lastname': 'Hoover', 'startshift': '07:00:00', 'endshift': '19:00:00'}, {'clinician_id': 801, 'position': 'cna', 'firstname': 'Miguel', 'lastname': 'Brock', 'startshift': '19:00:00', 'endshift': '07:00:00'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [30]:
n_name

,firstname,lastname,clinician_id,clinician_type,position,startshift,endshift
761,Micheal,Aguilar,761,nurse,aprn,19:00:00,07:00:00
816,Mercedes,Spears,816,nurse,aprn,07:00:00,19:00:00
413,Hunter,Pitts,413,nurse,aprn,19:00:00,07:00:00
424,Darnell,Russo,424,nurse,aprn,07:00:00,19:00:00
680,Adrien,Dodson,680,nurse,aprn,07:00:00,19:00:00
...,...,...,...,...,...,...,...
46,Ismael,Baird,46,nurse,cna,07:00:00,19:00:00
611,Cornelius,Payne,611,nurse,cna,19:00:00,07:00:00
858,Kali,Hays,858,nurse,cna,07:00:00,19:00:00
792,Zaria,Hoover,792,nurse,cna,07:00:00,19:00:00
801,Miguel,Brock,801,nurse,cna,19:00:00,07:00:00

In [31]:
nurses

     clinician_id position  firstname lastname startshift  endshift
761           761     aprn    Micheal  Aguilar   19:00:00  07:00:00
816           816     aprn   Mercedes   Spears   07:00:00  19:00:00
413           413     aprn     Hunter    Pitts   19:00:00  07:00:00
424           424     aprn    Darnell    Russo   07:00:00  19:00:00
680           680     aprn     Adrien   Dodson   07:00:00  19:00:00
..            ...      ...        ...      ...        ...       ...
46             46      cna     Ismael    Baird   07:00:00  19:00:00
611           611      cna  Cornelius    Payne   19:00:00  07:00:00
858           858      cna       Kali     Hays   07:00:00  19:00:00
792           792      cna      Zaria   Hoover   07:00:00  19:00:00
801           801      cna     Miguel    Brock   19:00:00  07:00:00

[300 rows x 6 columns]