# Connect to MySql Server

In [1]:
import mysql.connector
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import random
from datetime import datetime

In [2]:
# Created a docker container of mysql: https://hub.docker.com/_/mysql
# sudo docker run --name mysql -p 3306:3306 -e MYSQL_ROOT_PASSWORD=my-secret-pw -d mysql
# Check to see if conatiner is running: sudo docker container list

connection = mysql.connector.connect(host='localhost', user='root', password='google9090')
cursor = connection.cursor()

In [3]:
# Testing pymysql
connection = pymysql.connect(host='localhost', user='root', password='google9090')
cursor = connection.cursor()

In [4]:
db_Info = connection.get_server_info()
print("Connected to MySQL Server version ", db_Info)

Connected to MySQL Server version  8.0.31-0ubuntu0.22.04.1

In [5]:
# Run if needed
cursor.execute('DROP DATABASE hospital_management')

13

In [6]:
cursor.execute('''CREATE DATABASE IF NOT EXISTS hospital_management''')
cursor.execute('USE hospital_management')
cursor.execute('SELECT DATABASE()')
status = cursor.fetchall()
for x in status:
  print(x)

('hospital_management',)

# Create Tables

In [7]:
cursor.execute('''CREATE TABLE IF NOT EXISTS clinician (
                    clinician_id int,
                    clinician_type char(50) NOT NULL,
                    PRIMARY KEY (clinician_id)
                )''')

0

In [8]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescriber (
                    clinician_id int,
                    PRIMARY KEY (clinician_id)
                )''')

0

In [9]:
cursor.execute('''CREATE TABLE IF NOT EXISTS patient (
                    patient_id int AUTO_INCREMENT,
                    firstname char(50),
                    lastname char(50),
                    dob date,
                    discharged bool NOT NULL,
                    PRIMARY KEY (patient_id)
                )''')

0

In [10]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescribed (
                    clinician_id int,
                    prescription_id int,
                    patient_id int,
                    PRIMARY KEY (prescription_id, clinician_id, patient_id),
                    FOREIGN KEY (clinician_id) REFERENCES prescriber (clinician_id)
                                ON DELETE CASCADE,
                    FOREIGN KEY (patient_id) REFERENCES patient (patient_id)
                                ON DELETE CASCADE
                )''')

0

In [11]:
cursor.execute('''CREATE TABLE IF NOT EXISTS nurse (
                    clinician_id int,
                    position char(50) NOT NULL,
                    firstname char(50) NOT NULL,
                    lastname char(50) NOT NULL,
                    startshift time NOT NULL,
                    endshift time NOT NULL,
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES clinician (clinician_id),
                    CONSTRAINT nurse_check CHECK (position IN ('cna','lpn','rn','aprn'))
                )''')

0

In [12]:
cursor.execute('''CREATE TABLE IF NOT EXISTS senior_nurse (
                    clinician_id int,
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE
                )''')

0

In [13]:
cursor.execute('''CREATE TABLE IF NOT EXISTS doctor(
                    clinician_id int,
                    firstname char(50),
                    lastname char(50),
                    PRIMARY KEY (clinician_id),
                    FOREIGN KEY (clinician_id) REFERENCES clinician (clinician_id) 
                                ON DELETE CASCADE
                )''')

0

In [14]:
cursor.execute('''CREATE TABLE IF NOT EXISTS room (
                    room_id int AUTO_INCREMENT,
                    room_type char(50) NOT NULL,
                    PRIMARY KEY (room_id),
                    CONSTRAINT room_check CHECK (room_type IN ('ccu','er','icu','micu','nicu','oncology','recovery','or','pacu','hospice','preop','rehab','sicu','floor','ticu'))
                )''')

0

In [15]:
cursor.execute('''CREATE TABLE IF NOT EXISTS med_rec (
                    medicine_name char(50) NOT NULL,
                    recommendation text,
                    PRIMARY KEY (medicine_name)
                )''')

0

In [16]:
cursor.execute('''CREATE TABLE IF NOT EXISTS prescription (
                    prescription_id int,
                    medicine_name char(50) NOT NULL,
                    med_interval int NOT NULL,
                    start_date DATETIME NOT NULL DEFAULT NOW(),
                    end_date DATETIME NOT NULL DEFAULT NOW(),
                    is_deleted bool NOT NULL,
                    special_notes char(50),
                    PRIMARY KEY (prescription_id),               
                    FOREIGN KEY (medicine_name) REFERENCES med_rec (medicine_name)
                )''')

0

In [17]:
cursor.execute('''CREATE TABLE IF NOT EXISTS completed(
                    completed_id int,
                    completed_by int,
                    completed_at datetime,    
                    completed_what int,
                    PRIMARY KEY (completed_id),
                    FOREIGN KEY (completed_by) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (completed_what) REFERENCES prescription (prescription_id) 
                                ON DELETE CASCADE
                )''')

0

In [18]:
cursor.execute('''CREATE TABLE IF NOT EXISTS responsible (
                    clinician_id int,
                    room_id int,
                    PRIMARY KEY (clinician_id, room_id),
                    FOREIGN KEY (clinician_id) REFERENCES nurse (clinician_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (room_id) REFERENCES room (room_id) 
                                ON DELETE CASCADE
                )''')

0

In [19]:
cursor.execute('''CREATE TABLE IF NOT EXISTS stays_in (
                    patient_id int,
                    room_id int,
                    PRIMARY KEY (patient_id, room_id),
                    FOREIGN KEY (patient_id) REFERENCES patient (patient_id) 
                                ON DELETE CASCADE,
                    FOREIGN KEY (room_id) REFERENCES room (room_id) 
                                ON DELETE CASCADE
                )''')

0

In [20]:
cursor.execute('SHOW TABLES')
result = cursor.fetchall()

# loop through the rows
for row in result:
    print(row)

('clinician',)
('completed',)
('doctor',)
('med_rec',)
('nurse',)
('patient',)
('prescribed',)
('prescriber',)
('prescription',)
('responsible',)
('room',)
('senior_nurse',)
('stays_in',)

# Populating Tables

In [21]:
# to_sql testing
# host='localhost', user='root', password='my-secret-pw'

engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="google9090",
                               db="hospital_management"))

In [22]:
def insert(df, table):
    # creating column list for insertion
    cols = "`,`".join([str(i) for i in df.columns.tolist()])

    # Insert DataFrame records one by one.
    for i,row in df.iterrows():
        sql = "INSERT INTO " + table + " (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
        cursor.execute(sql, tuple(row))

        # the connection is not autocommitted by default, so we must commit to save our changes
        connection.commit()


def insertCheck(table):
    sql = 'SELECT * FROM ' + table
    cursor.execute(sql)

    # Fetch all the records
    result = cursor.fetchall()
    for i in result:
        print(i)

In [23]:
# https://www.randomlists.com/random-date?dup=true&qty=1000&date2=2022-01-01&date1=1930-01-01
# https://www.randomlists.com/random-names?qty=1000
# https://onlinerandomtools.com/generate-random-date
personalInfo = pd.read_csv('personal_info.csv', header=None)
personalInfo.rename(columns={0:'firstname',1:'lastname',2:'dob'},inplace=True)
display(personalInfo)

      firstname   lastname         dob
0         Brock     Golden  2010-05-27
1         Chloe     Golden  1931-09-27
2         Rayan      Estes  1993-08-31
3        Fatima  Velasquez  1932-09-29
4    Alessandro     Bender  2021-03-13
..          ...        ...         ...
995       Sarah     Grimes  1970-08-29
996        Cole    Cabrera  2016-11-18
997      Hassan     Gentry  1922-08-24
998       Kasey      Glenn  1981-07-04
999      Elaine      Huang  1930-04-02

[1000 rows x 3 columns]

In [24]:
# Creating People
totalInfo = 1000
d = 100
n = d * 3
p = d * 4
total = d + n + p
seed = 1

random.seed(seed)
random_index = random.sample(range(totalInfo), total)

d_index = random_index[0:d]
n_index = random_index[d:d+n]
p_index = random_index[d+n:total]

d_info = personalInfo.loc[d_index]
n_info = personalInfo.loc[n_index]
p_info = personalInfo.loc[p_index]

d_info['clinician_id'] = d_info.index
n_info['clinician_id'] = n_info.index
d_info['clinician_type'] = 'doctor'
n_info['clinician_type'] = 'nurse'

### Clinician

In [25]:
# Clinicians
clinicians = pd.concat([d_info.loc[:,['clinician_id','clinician_type']],n_info.loc[:,['clinician_id','clinician_type']]], axis=0).sort_index()
display(clinicians)

     clinician_id clinician_type
1               1          nurse
2               2         doctor
5               5          nurse
8               8          nurse
9               9         doctor
..            ...            ...
990           990         doctor
991           991         doctor
993           993          nurse
995           995         doctor
996           996         doctor

[400 rows x 2 columns]

In [26]:
# iterrows insert
# insert(clinicians, 'clinician')
# insertCheck('clinician')

In [26]:
# to_sql testing
# host='localhost', user='root', password='my-secret-pw'
# from sqlalchemy import create_engine
# import pymysql

# engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
#                        .format(user="root",
#                                pw="my-secret-pw",
#                                db="hospital"))

clinicians.to_sql('clinician', con=engine, if_exists='append', index=False, chunksize=1000)

400

### Nurse

In [27]:
# Nurse
# rankings are: 'cna','lpn','rn','aprn'
# https://www.rasmussen.edu/degrees/nursing/blog/different-levels-of-nursing/
# 20% aprn; 40% rn; 30% lrn; 10% cna
aprn_index = n_index[0:int(n*0.2)]
rn_index = n_index[int(n*0.2):int(n*0.6)]
lrn_index = n_index[int(n*0.6):int(n*0.9)]
cna_index = n_index[int(n*0.9):n]

n_info['position'] = ''
n_info.loc[aprn_index,'position'] = 'aprn'
n_info.loc[rn_index,'position'] = 'rn'
n_info.loc[lrn_index,'position'] = 'lpn'
n_info.loc[cna_index,'position'] = 'cna'

n_info['startshift'] = '00:00:00'
n_info['endshift'] = '00:00:00'
for i in n_info.index:
    if(i%2 == 0):
        n_info.loc[i,'startshift'] = '07:00:00'
        n_info.loc[i,'endshift'] = '19:00:00'
    else:
        n_info.loc[i,'startshift'] = '19:00:00'
        n_info.loc[i,'endshift'] = '07:00:00'

nurses = n_info.loc[:,['clinician_id','position','firstname','lastname','startshift','endshift']]
display(nurses)

     clinician_id position  firstname lastname startshift  endshift
761           761     aprn    Micheal  Aguilar   19:00:00  07:00:00
816           816     aprn   Mercedes   Spears   07:00:00  19:00:00
413           413     aprn     Hunter    Pitts   19:00:00  07:00:00
424           424     aprn    Darnell    Russo   07:00:00  19:00:00
680           680     aprn     Adrien   Dodson   07:00:00  19:00:00
..            ...      ...        ...      ...        ...       ...
46             46      cna     Ismael    Baird   07:00:00  19:00:00
611           611      cna  Cornelius    Payne   19:00:00  07:00:00
858           858      cna       Kali     Hays   07:00:00  19:00:00
792           792      cna      Zaria   Hoover   07:00:00  19:00:00
801           801      cna     Miguel    Brock   19:00:00  07:00:00

[300 rows x 6 columns]

In [28]:
nurses.to_sql('nurse', con=engine, if_exists='append', index=False, chunksize=1000)

300

### Senior Nurse

In [29]:
# Senior nurse
# Just the aprn nurses
senior_nurse = nurses.loc[nurses['position'] == 'aprn', ['clinician_id']]
# display(senior_nurse)

senior_nurse.to_sql('senior_nurse', con=engine, if_exists='append', index=False, chunksize=1000)

60

In [30]:
# Doctor
doctors = clinicians.loc[clinicians['clinician_type'] == 'doctor', ['clinician_id']]
# display(doctors)

In [31]:
doctors.to_sql('doctor', con=engine, if_exists='append', index=False, chunksize=1000)

100

In [32]:
med_rec = pd.read_csv("medicine.csv")
display(med_rec)

,Medicine,Recommendation
0,halothane,Inhalation
1,isoflurane,Inhalation
2,nitrous oxide,Inhalation
3,oxygen,Inhalation (medical gas)
4,ketamine,Injection: 50 mg/mL (as hydrochloride) in 10 m...
5,propofol,Injection: 10 mg/mL; 20 mg/mL.
6,bupivacaine,Injection: 0.25%; 0.5% (hydrochloride) in vial...
7,lidocaine,Injection: 1%; 2% (hydrochloride) in vial. Inj...
8,lidocaine + epinephrine (adrenaline),Dental cartridge: 2% (hydrochloride) + epineph...
9,budesonide,Nasal spray: 100 micrograms per dose
10,ciprofloxacin,Solution (ear drops): 0.3% (as hydrochloride)
11,xylometazoline,Nasal spray: 0.05%
12,iodine,Capsule: 190 mg.\nIodized oil: 1 mL (480 mg io...
13,nicotinamide,Tablet: 50 mg
14,pyridoxine,ablet: 25 mg (hydrochloride)
15,sodium chloride,Injectable solution: 0.9% isotonic (equivalent...
16,chlorpromazine,Injection: 25 mg/mL (hydrochloride) in 2 mL am...
17,clozapine,Solid oral dosage form: 25 to 200 mg.
18,haloperidol,Injection: 5 mg in 1 mL ampoule. Oral liquid: ...
19,amitriptyline,Tablet: 25 mg; 75mg. (hydrochloride).
20,fluoxetine,Solid oral dosage form: 20 mg (as hydrochloride)
21,carbamazepine,Tablet (scored): 100 mg; 200 mg.
22,lithium carbonate,Solid oral dosage form: 300 mg
23,diazepam,Tablet (scored): 2 mg; 5 mg
24,clomipramine,Capsule: 10 mg; 25 mg (hydrochloride)
25,bupropion,Tablet (sustained-release): 150 mg (hydrochlor...
26,varenicline,"Tablet: 0.5 mg, 1 mg"
27,carbetocin,Injection (heat stable): 100 micrograms/mL
28,ergometrine,Injection: 200 micrograms (hydrogen maleate) i...
29,oxytocin,Injection: 10 IU in 1 mL
30,nifedipine,Immediate-release capsule: 10 mg
31,dexamethasone,Injection: 4 mg/mL (as disodium phosphate salt...

In [33]:
med_rec.rename(columns={"Medicine":"medicine_name", "Recommendation":"recommendation"},inplace=True)

In [35]:
med_rec.to_sql("med_rec", con=engine, if_exists="append", index=False, chunksize=1000)

32